html,
body,
#root {
  height: 100%;
}
._head {
  height: 10%;
  background: white;
  display: grid;
  align-content: center;
  justify-content: center;
}

._foot {
height: 8%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
overflow: auto;
}
body {
  margin: 0;
}
.msg_inp{
    width: 90%;
    margin-top: .5rem;
    height: 50%;
}
.send_btn{
width: 10%;
height: 60%;
margin-top:.5rem;
}
.message{
    margin: 0.5rem;
    height: max-content;
    width: max-content;
    padding: 0.5rem;
}
.mcontainer{
display: flex;
width: 100%;
}